* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #1d1d1d;
  font-family: 'Montserrat';
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.7rem;
}

a {
  color: #959595;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
}

/* colors */

.yellow {
  color: #faed26;
}

.white {
  color: #cccccc;
}

.gray {
  color: #7a7a7a;
}
